<!DOCTYPE html>
<html>
<head>
<title> About page</title>
<link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<center><h1>ABOUT US!!</h1></center>
<hr/>
<body background="">
<center><h2>RELISH THE SCRUMPTIOUS DELIGHT</h2></center>
<img src="" alt="" width="500" height="300" style= "float: left; margin-right: 10px; margin-bottom:5px; border: solid black 1px; padding: 2px"/>
<div><h2><p style="text-align:right";> Bakepot’s online cake delivery offers you a huge range of cakes baked with utmost perfection and the finest quality of ingredients. We are an FSSAI certified online cake and Bakery Company that specializes in delivering absolutely lip-smacking delicacies.Cakes available in our bakery are always fresh, soft, moist, mushy and fluffy in texture. We have flavorsome cakes to illuminate your every occasion. Be it a birthday, wedding, anniversary, Valentine's day, Mother's day or any other event, our cakes will never disappoint you.</p><h2></div>
<img src="" alt="" width="500" height="300"style= "float: right; margin-right: 10px; margin-bottom:5px; border: solid black 1px; padding: 2px"/>
<div><h2><p style="text-align:left";>We are glad to serve you with our intricately textured designer cakes which encompasses huge varieties of flavors and toppings keeping in mind the personalized choices. At Bakepot’s  you will love to browse cakes online as we offer cakes for every special occasion.Red velvet cake, Black Forest cake, Chocolate Truffle cake, Pineapple Dome cake, Black Current cake and Ferero Rocher cake accounts to some of the most loved cakes by our customers. Visit us for experiencing an amazing deal of our cake delivery services in India. For any online cake delivery services rely on Bakepot’s. Be it a small surprise or a gala occasion you tend to surprise your loved one with, add an extra bit of emotions with our delectable range of cakes.</p></h3></div>
</body>
</html>

