<html>
	<head>
		<link rel="stylesheet" href='/static/css/style.css'>
	<title>Shop</title>
	</head>
	<body>
	<h1>Cake by theme </h1>
	<div class = "row">
		<div class = "column">
			<div class="card">
				<img src="static\images\Cake3.jpg" alt="Avatar" style="width:25%; height:35%">
			  	<div class="container">
			  		<h4><b>Bal Hanuman</b></h4>
				</div>
			</div>
		</div>

		<div class = "column">
			<div class="card">
				<img src="static\images\Cake9.jpg" alt="Avatar" style="width:25%; height:35%">
				<div class="container">
					<h4><b>Kids-Bus</b></h4>
				</div>
			</div>
		</div>

	

	</body>
</html>