<html>
	<head>
		<link rel="stylesheet" href='/static/css/style.css'>
	<title>Cup Cakes</title>
	</head>
	<body>
	<h1>Cup Cakes</h1>
	<div class = "row">
	<div class = "column">
		<div class="card">
  <img src="static\images\cupcake1.png" alt="Avatar" style="width:25%; height:35%">
  <h1>Chocolate Cupcake</h1>
  <p class="price">500/-</p>
  <p>HOME MADE QUALITY AND TASTE</p>
  <p><button>Add to Cart</button></p>
</div>
</div>

	<div class = "column">
		<div class="card">
  <img src="static\images\cupcake2.jpg" alt="Avatar" style="width:25%; height:35%">
  <h1>Ras-Malai</h1>
  <p class="price">600/-</p>
  <p>HOME MADE QUALITY AND TASTE</p>
  <p><button>Add to Cart</button></p>
 	</div>
		</div>

		

	</body>
</html>