<html>
	<head>
		<link rel="stylesheet" href='/static/css/style.css'>
	<title>Shop</title>
	</head>
	<body>
	<h1>Cup Cakes</h1>
	<div class = "row">
		<div class = "column">
			<div class="card">
				<img src="static\images\cupcake1.jpg" alt="Avatar" style="width:25%; height:35%">
			  	<div class="container">
			  		<h4><b>Chocolate</b></h4>
				</div>
			</div>
		</div>

		<div class = "column">
			<div class="card">
				<img src="static\images\cupecake2.jpg" alt="Avatar" style="width:25%; height:35%">
				<div class="container">
					<h4><b>Ras-Malai</b></h4>
				</div>
			</div>
		</div>

		

	</body>
</html>