<html>
	<head>
		<link rel="stylesheet" href='/static/css/style.css'>
	<title>Shop</title>
	</head>
	<body>
	<h1>Price of the Cake</h1>
	<div class = "column">
		<div class="card">
  <img src="static\images\Cake1.jpg" alt="Avatar" style="width:25%; height:35%">
  <h1>Pine Apple Cake</h1>
  <p class="price">500/-</p>
  <p>HOME MADE QUALITY AND TASTE</p>
  <p><button>Buy</button></p>
</div>

	<div class = "column">
		<div class="card">
  <img src="static\images\Cake2.jpg" alt="Avatar" style="width:25%; height:35%">
  <h1>Chocolate</h1>
  <p class="price">500/-</p>
  <p>HOME MADE QUALITY AND TASTE</p>
  <p><button>Buy</button></p>
</div>
		
			<div class = "column">
		<div class="card">
  <img src="static\images\Cake6.jpg" alt="Avatar" style="width:25%; height:35%">
  <h1>Vanilla</h1>
  <p class="price">550/-</p>
  <p>HOME MADE QUALITY AND TASTE</p>
  <p><button>Buy</button></p>
</div>

	<div class = "column">
		<div class="card">
  <img src="static\images\Cake10.jpg" alt="Avatar" style="width:25%; height:35%">
  <h1>Black Forest</h1>
  <p class="price">550/-</p>
  <p>HOME MADE QUALITY AND TASTE</p>
  <p><button>Buy</button></p>
</div>

	<div class = "column">
		<div class="card">
  <img src="static\images\Cake3.jpg" alt="Avatar" style="width:25%; height:35%">
  <h1>Bal Hanuman</h1>
  <p class="price">600/-</p>
  <p>HOME MADE QUALITY AND TASTE</p>
  <p><button>Buy</button></p>
</div>

	<div class = "column">
		<div class="card">
  <img src="static\images\Cake9.jpg" alt="Avatar" style="width:25%; height:35%">
  <h1>Kids-Bus</h1>
  <p class="price">600/-</p>
  <p>HOME MADE QUALITY AND TASTE</p>
  <p><button>Add to Cart</button></p>
</div>

	<div class = "column">
		<div class="card">
  <img src="static\images\Cake4.jpg" alt="Avatar" style="width:25%; height:35%">
  <h1>White-Chocolate-Mousse</h1>
  <p class="price">600/-</p>
  <p>HOME MADE QUALITY AND TASTE</p>
  <p><button>Add to Cart</button></p>
</div>

	<div class = "column">
		<div class="card">
  <img src="static\images\Cake5.jpg" alt="Avatar" style="width:25%; height:35%">
  <h1>Butter-Scotch</h1>
  <p class="price">500/-</p>
  <p>HOME MADE QUALITY AND TASTE</p>
  <p><button>Add to Cart</button></p>
</div>

	<div class = "column">
		<div class="card">
  <img src="static\images\Cake8.jpg" alt="Avatar" style="width:25%; height:35%">
  <h1>Gulab Jamun</h1>
  <p class="price">650/-</p>
  <p>HOME MADE QUALITY AND TASTE</p>
  <p><button>Add to Cart</button></p>
</div>

	<div class = "column">
		<div class="card">
  <img src="static\images\cupcake1.jpg" alt="Avatar" style="width:25%; height:35%">
  <h1>Chocolate Cupcake</h1>
  <p class="price">500/-</p>
  <p>HOME MADE QUALITY AND TASTE</p>
  <p><button>Add to Cart</button></p>
</div>

	<div class = "column">
		<div class="card">
  <img src="static\images\cupcake2.jpg" alt="Avatar" style="width:25%; height:35%">
  <h1>Ras-Malai</h1>
  <p class="price">600/-</p>
  <p>HOME MADE QUALITY AND TASTE</p>
  <p><button>Add to Cart</button></p>
</div>

	</body>
</html>